<div class="content-wrapper">
  <div class="content-container">
    <h2 class="title" *ngIf="this.uuid == null || this.uuid == ''">Créer un projet</h2>
    <h2 class="title" *ngIf="this.uuid">Modifier un projet</h2>
    <div class="form-container">
      <form [formGroup]="forms">

        <div class="form-group">
          <input type="text" class="form-control" id="name" placeholder="Nom du projet..." formControlName="name" required >
          <div *ngIf="forms.get('name')?.invalid && (forms.get('name')?.dirty || forms.get('name')?.touched)"
               class="error">
            <div *ngIf="forms.get('name')?.errors?.['required']">
              Un nom de projet est requis.
            </div>
          </div>
        </div>

        <div class="form-group">
          <textarea class="text-area" id="description" placeholder="Description..." formControlName="description" rows="4" cols="50" required ></textarea>
          <div *ngIf="forms.get('description')?.invalid && (forms.get('description')?.dirty || forms.get('description')?.touched)"
               class="error text-area-error">
            <div *ngIf="forms.get('description')?.errors?.['required']">
              Une description du projet est requise.
            </div>
          </div>
        </div>

        <div class="radio-wrapper">
          <label>Visibilité du projet</label>
          <div class="radio-container">
            <div>
              <input type="radio" class="radio-element" id="true" [value]="true" formControlName="isProjectPublic">
              <label for="true">Public</label><br>
            </div>
            <div>
              <input type="radio" class="radio-element" id="false" [value]="false" formControlName="isProjectPublic">
              <label for="false">Privé</label><br>
            </div>
            <div *ngIf="forms.get('isProjectPublic')?.invalid && (forms.get('isProjectPublic')?.dirty || forms.get('isProjectPublic')?.touched)"
                 class="error">
              <div *ngIf="forms.get('isProjectPublic')?.errors?.['required']">
                Définissez si votre projet est public ou privé.
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="button-container">
        <app-validation-button label=" {{ 'sauvegarder' | uppercase}}" (click)="onSubmit()"></app-validation-button>
        <app-little-button label=" {{ 'annuler' | uppercase }}" radius="60px" color="red" textColor="white" (click)="cancel()"></app-little-button>
      </div>
    </div>
  </div>
</div>
