<div class="content-wrapper">
  <div class="content-container">
    <h2 class="title">Créer un projet</h2>
    <div class="form-container">
      <form [formGroup]="forms">

        <div class="form-group">
          <input type="text" class="form-control" id="name" placeholder="Nom du projet..." formControlName="name" required >
        </div>

        <div class="form-group">
          <textarea class="text-area" id="description" placeholder="Description..." formControlName="description" rows="4" cols="50" required ></textarea>
        </div>

        <div class="radio-wrapper">
          <label>Visibilité du projet</label>
          <div class="radio-container">
            <div>
            <input type="radio" class="radio-element" id="true" name="isProjectPublic" value="true">
            <label for="true">Public</label><br>
           </div>
            <div>
            <input type="radio" class="radio-element" id="false" name="isProjectPublic" value="false" [defaultChecked]="true">
            <label for="false">Privé</label><br>
            </div>
          </div>
        </div>
      </form>
      <div class="button-container">
        <app-validation-button label=" {{ 'sauvegarder' | uppercase}}" (click)="onSubmit()"></app-validation-button>
        <app-little-button label=" {{ 'annuler' | uppercase }}" radius="60px" color="red" textColor="white" (click)="cancel()"></app-little-button>
      </div>
    </div>
  </div>
</div>
