<div class="content-wrapper">

  <div class="button-container">
    <app-little-button label="{{'Créer une page' | uppercase}}"></app-little-button>
  </div>

  <table mat-table [dataSource]="data"
         class="table"
         matSort matSortActive="Nom de la page" matSortDisableClear matSortDirection="desc">

    <ng-container matColumnDef="Nom de la page">
      <th mat-header-cell *matHeaderCellDef>{{ displayedColumns[0] | uppercase}}</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="Modifier">
      <th mat-header-cell *matHeaderCellDef>{{ displayedColumns[1] | uppercase}}</th>
      <td mat-cell *matCellDef="let element">{{element.symbol}}</td>
    </ng-container>

    <ng-container matColumnDef="Supprimer">
      <th mat-header-cell *matHeaderCellDef>{{ displayedColumns[2] | uppercase}}</th>
      <td mat-cell *matCellDef="let element">{{element.symbol}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      (click)="clickedRows.add(row)"
      [class.demo-row-is-clicked]="clickedRows.has(row)"
      *matRowDef="let row; columns: displayedColumns;"
    ></tr>
  </table>
  <mat-paginator class="paginator" [length]="resultsLength" [pageSize]="30" aria-label="Select page of GitHub search results"></mat-paginator>

</div>
