.header-wrapper {
  width: 100%;
  height: 80px;
  background-color: #d9d9d921;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.redirection:hover {
  cursor: pointer;
}

.header-content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Content de gauche */
.header-img-container {
  margin: 0 20px;
}

.header-title {
  font-size: 24px;
  font-family: Zen, ui-serif;
  -webkit-text-stroke: 1px black;
}

/* Content de droite */
.image {
  margin: 0 20px;
}

.image:hover {
  cursor:pointer;
}

/* Images */
#header-factory-img {
  width: 60px;
  height: 60px;
}

#header-user-img {
  width: 35px;
  height: 40px;
}

#header-login-img {
  width: 40px;
  height: 34px;
}

#header-logout-img {
  width: 40px;
  height: 40px;
}

/** Vue Mobile  **/
@media screen and (max-width: 480px) {

  .header-wrapper {
    justify-content: space-around;
  }

  .header-title {
    font-size: 8px;
    margin-left: 10px;
  }
  .header-img-container {
    display: none;
  }

  .image {
    margin: 0 10px;
  }

  #header-user-img {
    width: 17px !important;
    height: 20px !important;
  }

  #header-login-img {
    width: 20px !important;
    height: 17px !important;
  }

  #header-logout-img {
    width: 20px !important;
    height: 20px !important;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .header-wrapper {
    justify-content: space-around;
  }

  .header-title {
    font-size: 12px;
  }

  #header-user-img {
    width: 17px !important;
    height: 20px !important;
  }

  #header-login-img {
    width: 20px !important;
    height: 17px !important;
  }

  #header-logout-img {
    width: 20px !important;
    height: 20px !important;
  }

  #header-factory-img {
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

  .header-wrapper {
    justify-content: space-around;
  }

  .header-title {
    font-size: 16px;
  }
}
