<div class="content-wrapper" xmlns="http://www.w3.org/1999/html">
  <div class="content-container">
    <div class="form-container">

      <h2 class="title">{{ 'page.forgot-password.title' | translate }}</h2>

      <div class="textContent">
        <p>{{ 'page.forgot-password.text.text1' | translate }}</p>
        <p>{{ 'page.forgot-password.text.text2' | translate }}</p>
        <p>{{ 'page.forgot-password.text.text3' | translate }}</p>
      </div>
      <form [formGroup]="forms">
        <div class="form-group">
          <input type="email"
                 class="form-control"
                 id="email"
                 placeholder="{{ 'label.email' | translate }}"
                 formControlName="email"
                 required>
          <div *ngIf="this.forms.get('email')?.invalid && (this.forms.get('email')?.dirty ||this.forms.get('email')?.touched)"
               class="error">
            <div *ngIf="this.forms.get('email')?.errors?.['required']">
              {{ 'error.email-required' | translate }}
            </div>
          </div>
        </div>
      </form>
      <div class="button-container">
        <app-validation-button label=" {{ 'button.save' | translate}}" (click)="onSubmit()"></app-validation-button>
        <app-little-button label=" {{ 'button.cancel' | translate }}" radius="60px" color="red" textColor="white" (click)="cancel()"></app-little-button>
      </div>
    </div>
  </div>
</div>
