.content-wrapper {
  width: 90%;
  height: 100%;
  margin: 2vh auto;
  display: flex;
  justify-content: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  background-color: #d9d9d921;
  border-radius: 20px;
  width: 50%;
  justify-content: space-evenly;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group > input {
  width: 50%;
  padding: 8px;
  margin: 2rem auto;
  border-radius: 5px;
  font-family: Baloo, ui-serif;
  font-size: 16px;
}

.link-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.link {
  margin: 0 auto;
}

a {
  color: #2399DB;
  font-size: 16px;
  font-family: Baloo, ui-serif;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0;
}

@media screen and (max-width: 1000px) {
  .content-container {
    width: 80%;
  }

  .button {
    font-size: 16px !important;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2vh;
  }
}

@media screen and (min-width: 2000px) {
  .content-container {
    width: 50%;
  }
}


