<div class="content-wrapper">
  <h2 class="title"> Liste des projets </h2>
  <table mat-table [dataSource]="dataSource" class="table">

    <ng-container matColumnDef="Nom du projet">
      <th mat-header-cell *matHeaderCellDef>{{ displayedColumns[0] | uppercase}}</th>
      <td mat-cell *matCellDef="let row">
        <span>{{ row.name }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="Description">
      <th mat-header-cell *matHeaderCellDef>{{ displayedColumns[1] | uppercase}}</th>
      <td mat-cell *matCellDef="let row">
        <span>{{ row.description }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="Voir">
      <th mat-header-cell *matHeaderCellDef>{{ displayedColumns[2] | uppercase}}</th>
      <td mat-cell *matCellDef="let row">
        <div class="eye-icon-img-container" (click)="moveToProjectPagesView(row.projectUuid)">
          <img class="eye-icon" src="assets/img/eye-regular.svg" alt="icone d'un oeil">
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="resultsLength"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10]"
                 aria-label="Select page of project results search">
  </mat-paginator>

</div>
