<div class="content-wrapper" xmlns="http://www.w3.org/1999/html">
  <div class="content-container">
    <div class="form-container">

      <h2 class="title">{{ 'page.password-recover.title' | translate }}</h2>

      <div class="textContent" *ngIf="this.user && !this.successMessage">
        <p>{{ 'page.password-recover.text' | translate }}</p>
      </div>
      <div class="textContent" *ngIf="this.user && this.successMessage">
        <p>{{ 'success.password-recover' | translate }}</p>
      </div>
      <form [formGroup]="forms" *ngIf="this.user">
        <div class="form-group">
          <input type="password"
                 class="form-control"
                 id="password"
                 placeholder="{{ 'label.password' | translate }}"
                 formControlName="password"
                 (input)="onPasswordInput()"
                 required>
          <div *ngIf="forms.get('password')?.invalid && (forms.get('password')?.dirty || forms.get('password')?.touched)"
               class="error">
            <div *ngIf="forms.get('password')?.errors?.['required']">
              {{ 'error.password-required' | translate }}
            </div>
            <div *ngIf="forms.get('password')?.errors?.['minlength'] || forms.get('password')?.errors?.['maxlength']">
              {{ 'error.password-size' | translate }}
            </div>
          </div>
        </div>

        <div class="form-group">
          <input type="password"
                 class="form-control"
                 id="password2"
                 placeholder="{{ 'label.password-again' | translate }}"
                 formControlName="password2"
                 (input)="onPasswordInput()"
                 required>

          <div *ngIf="forms.get('password2')?.invalid && (forms.get('password2')?.dirty || forms.get('password2')?.touched)"
               class="error">
            <div *ngIf="forms.get('password2')?.invalid && !forms.get('password2')?.hasError('passwordMismatch')">
              {{ 'error.password-mismatch' | translate }}
            </div>
          </div>

        </div>
      </form>
      <div class="button-container" *ngIf="this.user">
        <app-validation-button *ngIf="this.forms.invalid" [disabled]="this.forms.invalid" label="{{ 'button.save' | translate }}" (click)="onSubmit()"></app-validation-button>
        <app-validation-button *ngIf="this.forms.valid"  label="{{ 'button.save' | translate }}" (click)="onSubmit()"></app-validation-button>
        <app-little-button label="{{ 'button.cancel' | translate }}" radius="60px" color="red" textColor="white" (click)="cancel()" ></app-little-button>
      </div>
    </div>
    <div class="errorContent" *ngIf="!this.user && this.user == null">
      <p>{{ 'error.token-invalid' | translate }}</p>
      <a class="link" [routerLink]="['/']"> {{ 'link.home' | translate }}</a>
    </div>
  </div>
</div>
