<div class="content-wrapper" xmlns="http://www.w3.org/1999/html">
  <div class="content-container">
    <div class="form-container">

      <h2 class="title">Changer votre mot de passe</h2>

      <div class="textContent" *ngIf="this.user">
        <p> Veuillez définir votre nouveau mot de passe :</p>
      </div>
      <form [formGroup]="forms" *ngIf="this.user">
        <div class="form-group">
          <input type="password"
                 class="form-control"
                 id="password"
                 placeholder="Password..."
                 formControlName="password"
                 (input)="onPasswordInput()"
                 required>
          <div *ngIf="forms.get('password')?.invalid && (forms.get('password')?.dirty || forms.get('password')?.touched)"
               class="error">
            <div *ngIf="forms.get('password')?.errors?.['required']">
              Un password est requis.
            </div>
            <div *ngIf="forms.get('password')?.errors?.['minlength'] || forms.get('password')?.errors?.['maxlength']">
              Votre mot de passe doit faire entre 8 et 16 caractères.
            </div>
          </div>
        </div>

        <div class="form-group">
          <input type="password"
                 class="form-control"
                 id="password2"
                 placeholder="Retapez votre password..."
                 formControlName="password2"
                 (input)="onPasswordInput()"
                 required>

          <div *ngIf="forms.get('password2')?.invalid && (forms.get('password2')?.dirty || forms.get('password2')?.touched)"
               class="error">
            <div *ngIf="forms.get('password2')?.invalid && !forms.get('password2')?.hasError('passwordMismatch')">
              Vos mots de passes ne correspondent pas.
            </div>
          </div>

        </div>
      </form>
      <div class="button-container" *ngIf="this.user">
        <app-validation-button *ngIf="this.forms.invalid" [disabled]="this.forms.invalid" label="{{ 'Valider' | uppercase}}" (click)="onSubmit()"></app-validation-button>
        <app-validation-button *ngIf="this.forms.valid"  label="{{ 'Valider' | uppercase}}" (click)="onSubmit()"></app-validation-button>
        <app-little-button label=" {{ 'annuler' | uppercase }}" radius="60px" color="red" textColor="white" (click)="cancel()" ></app-little-button>
      </div>
    </div>
    <div class="errorContent" *ngIf="!this.user && this.user == null">
      <p>Une erreur s'est produite. Le token a expiré</p>
      <a class="link" [routerLink]="['/']"> Retour à l'accueil</a>
    </div>
  </div>
</div>
