.content-wrapper {
  width: 90%;
  height: 100%;
  margin: 0 auto 5% auto;
  display: flex;
  justify-content: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  background-color: #d9d9d921;
  border-radius: 20px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

.title {
  font-family: Zen, ui-serif;
  text-align: center;
}

.textContent {
  font-family: Baloo, ui-serif;
  font-size: 16px;
  text-align: center;
}

.errorContent {
  text-align: center;
  margin-bottom: 2rem;
}

.errorContent > p {
  color: red;
  font-family: Baloo, ui-serif;
  font-size: 25px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group > input {
  width: 60%;
  padding: 8px;
  margin: 2rem auto;
  border-radius: 5px;
  border: 2px solid;
  font-family: Baloo, ui-serif;
  font-size: 16px;
}

.form-group > .error {
  margin: -1.5rem auto 2rem auto;
  width: 50%;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0;
}

a {
  color: #2399DB;
  font-size: 16px;
  font-family: Baloo, ui-serif;
}
