<div class="content-wrapper">
  <div class="content-container">
    <h2 class="title"> {{ 'page.create-account.title' | translate }}</h2>
    <div class="form-container" *ngIf="!this.successMessage">
      <form [formGroup]="forms">
        <div class="form-group">
          <input type="email"
                 class="form-control"
                 id="email"
                 placeholder="{{ 'label.email' | translate }}"
                 formControlName="email"
                 required>

          <div *ngIf="forms.get('email')?.invalid && (forms.get('email')?.dirty ||forms.get('email')?.touched)"
               class="error">
            <div *ngIf="forms.get('email')?.errors?.['required']">
              {{ 'error.email-required' | translate }}
            </div>
          </div>
          <div class="error" *ngIf="this.errorMessage != '' && (forms.get('email')?.dirty ||forms.get('email')?.touched)">
            {{ this.errorMessage }}
          </div>
        </div>

        <div class="form-group">
          <input type="password"
                 class="form-control"
                 id="password"
                 placeholder="{{ 'label.password' | translate }}"
                 formControlName="password"
                 (input)="onPasswordInput()"
                 required>
          <div *ngIf="forms.get('password')?.invalid && (forms.get('password')?.dirty || forms.get('password')?.touched)"
               class="error">
            <div *ngIf="forms.get('password')?.errors?.['required']">
              {{ 'error.password-required' | translate }}
            </div>
            <div *ngIf="forms.get('password')?.errors?.['minlength'] || forms.get('password')?.errors?.['maxlength']">
              {{ 'error.password-size' | translate }}
            </div>
          </div>
        </div>

        <div class="form-group">
          <input type="password"
                 class="form-control"
                 id="password2"
                 placeholder="{{ 'label.password-again' | translate }}"
                 formControlName="password2"
                 (input)="onPasswordInput()"
                 required>

          <div *ngIf="forms.get('password2')?.invalid && (forms.get('password2')?.dirty || forms.get('password2')?.touched)"
               class="error">
            <div *ngIf="forms.get('password2')?.invalid && !forms.get('password2')?.hasError('passwordMismatch')">
              {{ 'error.password-mismatch' | translate }}
            </div>
          </div>

        </div>
      </form>

      <div class="button-container">
        <app-validation-button *ngIf="this.forms.invalid" [disabled]="this.forms.invalid" label="{{ 'button.signUp' | translate  }}" (click)="onSubmit()"></app-validation-button>
        <app-validation-button *ngIf="this.forms.valid"  label="{{ 'button.signUp' | translate  }}" (click)="onSubmit()"></app-validation-button>
        <app-little-button label="{{ 'button.cancel' | translate  }}" radius="60px" color="red" textColor="white" (click)="cancel()" ></app-little-button>
      </div>
    </div>

    <div class="form-container" *ngIf="this.successMessage">
      <p class="successMessage">    {{ 'success.account-created' | translate }} </p>
    </div>


  </div>
</div>
