<div class="content-wrapper">

  <div class="first-content">
    <div class="first-content-img">
      <img id="code-img" src="./assets/img/coding.svg" alt="Représentation d'un logo contenant du code">
    </div>
    <div class="first-content-right">
      <div class="first-content-title">
        <h2>{{ 'page.home.item.what-is-it.title' | translate }}</h2>
      </div>
      <div class="first-content-texte">
        <p> {{ 'page.home.item.what-is-it.text1' | translate }}</p>
        <p> {{ 'page.home.item.what-is-it.text2' | translate }}</p>
      </div>
    </div>
  </div>

  <div class="second-content">
    <div class="cards">
      <div class="card-title">
        <h2> {{ 'page.home.item.easy-and-fast.title' | translate }}</h2>
      </div>
      <div class="card-text">
        <p>{{ 'page.home.item.easy-and-fast.text' | translate }}</p>
      </div>
      <div class="card-image-container">
        <img  id="speedometer-img" src="assets/img/gauge-high-solid.svg" alt="Compteur indiquant une vitesse rapide">
      </div>
    </div>

    <div class="cards">
      <div class="card-title">
        <h2> {{ 'page.home.item.space.title' | translate }} </h2>
      </div>
      <div class="card-text">
        <p>{{ 'page.home.item.space.text' | translate }}</p>
      </div>
      <div class="card-image-container">
        <img id="lock-img" src="assets/img/lock-solid.svg" alt="Compteur indiquant une vitesse rapide">
      </div>
    </div>
    <div class="cards">
      <div class="card-title">
        <h2> {{ 'page.home.item.visit.title' | translate }} </h2>
      </div>
      <div class="card-text">
        <p>{{ 'page.home.item.visit.text' | translate }}</p>
      </div>
      <div class="card-image-container">
        <img id="screen-img" src="assets/img/display-solid.svg" alt="Compteur indiquant une vitesse rapide">
      </div>
    </div>
  </div>

    <div class="button-container">
      <app-little-button label="{{ 'button.discover' | translate | uppercase }}" radius="60px" (click)="moveToSearchPage()"></app-little-button>
      <app-validation-button  *ngIf="this.tokenEmail == '' || this.tokenEmail == null" label="{{ 'button.signUp' | translate  }}" (click)="moveToSignInPage()"></app-validation-button>
    </div>
</div>
