<div class="content-wrapper">

  <div class="first-content">
    <div class="first-content-img">
      <img id="code-img" src="./assets/img/coding.svg" alt="Représentation d'un logo contenant du code">
    </div>
    <div class="first-content-right">
      <div class="first-content-title">
        <h2>CODEWHAREHOUSE, QU'EST-CE QUE C'EST ?</h2>
      </div>
      <div class="first-content-texte">
        <p> Découvrez une solution simple et efficasse pour partager votre code en ligne.</p>
        <p>Que vous soyez élève ou enseignant, nous vous aidons à partager vos créations
          tout en vous permettant d'échanger avec les autres.</p>
      </div>
    </div>
  </div>

  <div class="second-content">
    <div class="cards">
      <div class="card-title">
        <h2> FACILE & RAPIDE </h2>
      </div>
      <div class="card-text">
        <p>Partagez en quelques clics sur notre code éditeur en quelques secondes ! Aussi simple que de copier/coller !</p>
      </div>
      <div class="card-image-container">
        <img  id="speedometer-img" src="assets/img/gauge-high-solid.svg" alt="Compteur indiquant une vitesse rapide">
      </div>
    </div>

    <div class="cards">
      <div class="card-title">
        <h2> GERER VOTRE ESPACE </h2>
      </div>
      <div class="card-text">
        <p>Déciderez vous même si vous souhaitez que votre code soit visible par les autres
          et/ou si ils pourront le modifier.</p>
      </div>
      <div class="card-image-container">
        <img id="lock-img" src="assets/img/lock-solid.svg" alt="Compteur indiquant une vitesse rapide">
      </div>
    </div>
    <div class="cards">
      <div class="card-title">
        <h2> EXPLOREZ </h2>
      </div>
      <div class="card-text">
        <p>Découvrez et échangez avec les autres.
          Notre solution est parfaite pour partager
          du code en ligne avec des élèves.</p>
      </div>
      <div class="card-image-container">
        <img id="screen-img" src="assets/img/display-solid.svg" alt="Compteur indiquant une vitesse rapide">
      </div>
    </div>
  </div>

    <div class="button-container">
      <app-little-button label="{{'découvrir les projets' | uppercase}}" radius="60px"></app-little-button>
      <app-validation-button label="{{'S\'INSCRIRE' | uppercase}}"></app-validation-button>
    </div>
</div>
