<div class="content-wrapper">
  <div class="button-container">

    <div class="button">
      <app-account-button label=" {{ 'label.project-management' | translate | uppercase }}" (click)="moveToUserProject()"></app-account-button>
    </div>

    <div class="button">
    <app-account-button label=" {{ 'label.account-management' | translate | uppercase }}" (click)="moveToUpdateUserAccount()"></app-account-button>
    </div>

    <div class="button">
      <app-account-button label=" {{ 'label.account-delete' | translate | uppercase }}" color="red" textColor="white" (click)="deleteAccount()"></app-account-button>
    </div>

  </div>
</div>
