/* You can add global styles to this file, and also import other style files */
@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/base16-dark.css';

/* Fonts */
@font-face {
  font-family: "Zen";
  src: url(./assets/fonts/ZenDots-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Baloo";
  src:
    url(./assets/fonts/Baloo/BalooThambi2-Regular.ttf) format("truetype");
}

body {
  background-color: #151C12;
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  height: 80px;
  background-color: #d9d9d921;
}

#page-container {
  position: relative;
  min-height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2vh auto;
}

p, span, h1, h2 {
  color: white;
}

/* Link A*/
.link {
  color: #2399DB;
  text-decoration: underline;
}

.link:hover {
  cursor: pointer;
}

/* Input */
.error {
  color: red;
}

.form-group > .error {
  margin: -1.5rem auto 2rem auto;
  width: 50%;
}

.text-area-error {
  margin: 5px auto 2rem auto !important;
  width: 50%;
}

.form-group > input.ng-untouched {
  color: black;
}

.form-group > input.ng-valid {
  color: limegreen !important;
  border-color: limegreen !important;
}

.form-group > input.ng-invalid {
  color: red;
  border-color: red;
}

/* Code Mirror */

.CodeMirror {
  border: 1px solid #eee;
  height: auto;

}

.CodeMirror-scroll {
  height: 100%;
  max-height: 1000px;
}


/* Material - Paginator */
.mat-mdc-option.mdc-list-item {
  border: 1px solid white;
  border-radius: 20px;
}
