/* You can add global styles to this file, and also import other style files */
@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/base16-dark.css';
@import 'codemirror/theme/material.css';

@font-face {
  font-family: "Zen";
  src: url(./assets/fonts/ZenDots-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Baloo";
  src:
    url(./assets/fonts/Baloo/BalooThambi2-Regular.ttf) format("truetype");
}

body {
  background-color: #151C12;
  margin: 0;
  padding: 0;
}

p, span, h1, h2 {
  color: white;
}

/* Input */
.error {
  color: red;
}

.form-group > input.ng-untouched {
  color: black;
}

.form-group > input.ng-valid {
  color: limegreen !important;
  border-color: limegreen !important;
}

.form-group > input.ng-invalid {
  color: red;
  border-color: red;
}
