/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Zen";
  src: url(./assets/fonts/ZenDots-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Baloo";
  src:
    url(./assets/fonts/Baloo/BalooThambi2-Regular.ttf) format("truetype");
}

body {
  background-color: #151C12;
  margin: 0;
  padding: 0;
}

p, h1, h2 {
  color: white;
}
