<div class="content-wrapper">
  <div class="content-container">
    <h2 class="title" *ngIf="this.codePageUuid == null || this.codePageUuid == ''">{{ 'page.pageEdit.title-add' | translate }}</h2>
    <h2 class="title" *ngIf="this.codePageUuid">{{ 'page.pageEdit.title-edit' | translate }}</h2>
    <div class="form-container">
      <form [formGroup]="forms">

        <div class="form-group">
          <input type="text"
                 class="form-control"
                 id="name"
                 placeholder="{{ 'label.page-name' | translate }}"
                 formControlName="name"
                 required >
        </div>

        <div class="form-group">
          <select label="Langage"
                  formControlName="language"
                  id="language-selector"
                  required>
            <option value="">{{ 'label.language' | translate }}</option>
            <option value="javascript">JS / TS</option>
            <option value="text/x-java">Java</option>
            <option value="htmlmixed">HTML</option>
            <option value="css">CSS</option>
            <option value="markdown">Markdown / GitHub</option>
          </select>
        </div>

        <div class="form-group">
          <textarea class="text-area"
                    id="code"
                    placeholder="{{ 'label.code' | translate }}"
                    formControlName="codeTextContent"
                    rows="4"
                    cols="50"
                    required ></textarea>
        </div>

        <div class="form-group">
          <textarea class="text-area"
                    id="commentary"
                    placeholder="{{ 'label.commentary' | translate }}"
                    formControlName="codeCommentary"
                    rows="4"
                    cols="50"
                    required ></textarea>
        </div>
      </form>
    </div>

    <div class="button-container">
      <app-validation-button *ngIf="this.forms.invalid" [disabled]="this.forms.invalid" label="{{ 'button.save' | translate  }}" (click)="onSubmit()"></app-validation-button>
      <app-validation-button *ngIf="this.forms.valid"  label="{{ 'button.save' | translate  }}" (click)="onSubmit()"></app-validation-button>
      <app-little-button label="{{ 'button.cancel' | translate  }}" radius="60px" color="red" textColor="white" (click)="cancel()" ></app-little-button>
    </div>

  </div>
</div>
