<div class="content-wrapper">
  <div class="content-container">
    <h2 class="title">Créer une page</h2>
    <div class="form-container">
      <form [formGroup]="forms">

        <div class="form-group">
          <input type="text" class="form-control" id="name" placeholder="Nom de la page..." formControlName="name" required >
        </div>

        <div class="form-group">
          <textarea class="text-area"
                    id="code"
                    placeholder="Code..."
                    formControlName="codeTextContent"
                    rows="4"
                    cols="50"
                    required ></textarea>
        </div>

        <div class="form-group">
          <textarea class="text-area"
                    id="commentary"
                    placeholder="Commentaires ou notes sur le code..."
                    formControlName="codeCommentary"
                    rows="4"
                    cols="50"
                    required ></textarea>
        </div>
      </form>
    </div>

    <div class="button-container">
      <app-validation-button label=" {{ 'sauvegarder' | uppercase}}"></app-validation-button>
      <app-little-button label=" {{ 'annuler' | uppercase }}" radius="60px" color="red" textColor="white" ></app-little-button>
    </div>

  </div>
</div>
